<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <%- include("partials/header", { title: "header" }) %>
    <h1 class="mb-5 text-2xl font-bold" >About</h1>
    <%= aboutContent %>
    <%- include("partials/footer") %>
</body>
</html>